* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

button {
    width: 12vw;
    margin-top: 15px;
    padding: 7px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, rgb(158, 158, 158),white);
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: 93vw;
    justify-content: center;
    margin-top: 15px;
    padding: 15px;
    background-color: rgba(17, 67, 175, 0.247);
    border-radius: 60px;
}

#container {
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
    color: gold;
    transition: all 0.5s;
}

img {
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
}

#container:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

span {
    font-weight: bold;
    color: white;
}

h1 {
    font-size: 45px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.507);
}